#playspace {
    width: 100%;
    border: 1px solid black;
    
}

tr {
    border: 1px solid blue;
    
}

td {
    border: 1px solid green;
}

.card {
    margin: .5rem;
    padding: 1.5rem;
    background-color: lightseagreen;
    border: 1px solid black;
    display: inline-block;
}

.hint {
    margin: .5rem;
    padding: .8rem;
    background-color: grey;
    border: 1px solid green;
    display: inline-block;
}

.selected {
    background-color: lightsalmon;
}

#right-top-playspace {
    top: 2rem;
    right: 2rem;
    position: absolute;
}

#right-bottom-playspace {
    top: 20rem;
    right: 2rem;
    position: absolute;
}

.total-points {
    color: green;
    font-weight: bold;
}

.total-bombs {
    color: red;
    font-weight: bold;
}