div {
    width: min-content;
}

span {
    
}

table {
    border: 1px dotted pink;
}

td {
    padding: 0px;
    border: 1px dotted blue;
    text-align: center;
}

.card {
    margin: .3rem;
    padding: 1.2rem;
    background-color: lightseagreen;
    border: 1px solid black;
    display: inline-block;
}

.revealed-points {
    background-color: forestgreen;
}

.revealed-bomb {
    background-color: lightcoral;
}

.hint {
    margin: .3rem;
    padding: .3rem;
    background-color: lightblue;
    border: 1px solid green;
    display: inline-block;
    font-size: small;
}

.points {
    color: green;
    
}

.bombs {
    color: red;
    font-weight: bold;
}

.total-points {
    color: green;
    font-weight: bold;
}

.total-bombs {
    color: red;
    font-weight: bold;
}