div {
    width: 100%;
    border: 1px solid black;
    
}

td {
    border: 1px solid blue;
    
}

.card {
    margin: .4rem;
    padding: 1.2rem;
    background-color: lightseagreen;
    border: 1px solid black;
    display: inline-block;
}

.revealed-points {
    background-color: green;
}

.revealed-bomb {
    background-color: lightcoral;
}

.hint {
    margin: .4rem;
    padding: .3rem;
    background-color: grey;
    border: 1px solid green;
    display: inline-block;
    font-size: small;
}

.selected {
    background-color: lightsalmon;
}

.total-points {
    color: green;
    font-weight: bold;
}

.total-bombs {
    color: red;
    font-weight: bold;
}